In [1]:
import pandas as pandas

In [2]:
import numpy as numpy

In [3]:
import numpy_financial as numpyf

In [10]:
data = pandas.read_csv (r'C:\Users\local.admin\documents\GitHub\python-homework\PyBank\hw_02-Python_Instructions_PyBank_Resources_budget_data.csv')

In [11]:
data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [12]:
df = pandas.DataFrame(data, columns= ['Date','Profit/Losses'])

In [13]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [16]:
# TotalMonths - sum
count = df ['Date'].count ()

In [22]:
print ("The total number of months is", count)

The total number of months is 86

In [19]:
# TotalP/L - Profit/Losses
sum = df ['Profit/Losses'].sum ()

In [24]:
print ("The total P/L over 86 months is", sum)

The total P/L over 86 months is 38382578

In [30]:
import pandas as pdx

In [32]:
# Greatest Mothly Increase in Profits
max = df ["Profit/Losses"].max ()

In [33]:
max

1170593