In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
np

In [8]:
pd

In [12]:
df = pd.read_csv (r"C:\Users\local.admin\Documents\FinTech_BootCamp\Homework 2\hw_02-Python_Instructions_PyBank_Resources_budget_data.csv")

In [13]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [14]:
data = pd.read_csv (r"C:\Users\local.admin\Documents\FinTech_BootCamp\Homework 2\hw_02-Python_Instructions_PyBank_Resources_budget_data.csv")

In [15]:
data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [18]:
df = pd.DataFrame(data, columns = ["Date", "Profit/Losses"])

In [19]:
print(df)

Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [20]:
df = ["Date", "Profit/Losses"]

In [22]:
df

['Date', 'Profit/Losses']

In [24]:
column_1 = ["Date"]

In [26]:
column_2 = ["Profit/Losses"]

In [27]:
columns = [column_1 and column_2]

In [28]:
columns

[['Profit/Losses']]